version: "3.9"
services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - user-service
      - order-service

  user-service:
    build: ./user_service
    ports:
      - "5001:5001"

  order-service:
    build: ./order_service
    ports:
      - "5002:5002"
